<div class="container-fluid">
  <div class="row">
    <div class="thumbnail book-listing col-md-6 contain" style="width:90%;">
      <body class="demo-3">
      <div class="content">
        <div class="cache">
          <img src="img/masks/cube-a.svg">
          <img src="img/masks/cube-b.svg">
          <img src="img/masks/cube-c.svg">
          <img src="img/nature-a.jpg">
          <img src="img/nature-b.jpg">
          <img src="img/nature-c.jpg">
          <img src="img/nature-d.jpg">
        </div>

        <div class="wrapper">
          <div class="prism-slider">
            <ul class="navigation"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
